.valeurs {
  background-color: #f8f4f5;
  padding: 80px;

  .badge-section {
    display: inline-block;
    letter-spacing: 0.1em;
    color: #b94f04;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  h2 {
    font-family: "Space Grostek", sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .container-card {
    max-width: 1214px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 50px;

    .card-valeur {
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 1px solid #e4e7ed;
      border-radius: 24px;
      padding: 28px;
      background-color: #fff;

      &-number {
        font-size: 32px;
        font-weight: bold;
      }

      p {
        color: #6b7280;
        line-height: 26px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .valeurs {
    .container-card {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .valeurs {
    padding: 40px 20px;

    .badge-section {
      font-size: 12px;
    }

    h2 {
      font-size: 24px;
    }

    .container-card {
      grid-template-columns: 1fr;
      margin-top: 25px;

      .card-valeur {
        gap: 8px;
        padding: 20px;

        .icon-wrapper {
          height: 44px;
          width: 44px;

          svg {
            width: 20px;
            height: 20px;
          }
        }

        h3 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
