.barre-info-mobile {
  flex-direction: column;
  background-color: #0d1117;

  &-wrapper {
    display: flex;
    gap: 12px;
    padding: 20px;
    border: 1px solid #fff;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background-color: #f9741635;
      border-radius: 50%;
      color: #f97316;
    }

    &-infos {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &-title {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
      }

      &-desc {
        color: #6b7280;
      }
    }
  }
}
