.hero-apropos {
  height: calc(100vh - 21vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #e4e7ed;

  .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 80px 64px;

    .badge-section {
      letter-spacing: 0.1em;
      color: #f97316;
      text-transform: uppercase;
      font-weight: bold;
    }

    h1 {
      font-family: "Space Grostek", sans-serif;
      font-size: 52px;
      font-weight: bold;
      max-width: 600px;

      em {
        font-family: "Space Grostek", sans-serif;
        color: #f97316;
      }
    }

    p {
      font-size: 18px;
      color: #6b7280;
      line-height: 30px;
    }
  }

  .right {
    overflow: hidden;
    .img-container {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
