.barre-info-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 150px;

  &-container {
    display: flex;
    align-items: center;
    gap: 8px;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #fff4ec;
      border-radius: 50%;
      color: #f97316;
    }

    p {
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .barre-info-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 16px 20px;

    &-container {
      &-logo {
        width: 32px;
        height: 32px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
      p {
        font-size: 12px;
        text-wrap: nowrap;
      }
    }
  }
}
