.avis {
    padding: 80px;

    .badge-section {
        letter-spacing: 0.1em;
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #F97316;
        text-transform: uppercase;
        font-weight: bold;
    }

    h2 {
        font-family: "Space Grostek", sans-serif;
        font-size: 40px;
        text-align: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-top: 50px;

        .card-avis {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 24px;
            border: 1px solid #E4E7ED;
            border-radius: 24px;

            .stars {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            .avis-commentaire {
                line-height: 25px;
                color: #0D1117;
                flex: 1;
            }

            .avis-name {
                font-size: 14px;
                font-weight: bold
            }

            .avis-date{
                font-size: 12px;
                color: #6B7280;
            }
        }
    }
}