.barre-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f97316;
  padding: 64px 90px;

  .left {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      font-size: 40px;
      font-weight: bold;
      font-family: "Space Grostesk", sans-serif;
      color: #fff;
    }

    p {
      font-size: 20px;
      color: #ffffffb3;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 16px;

    .btn-appl {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 4px;
      color: #0d1117;
      background-color: #fff;
      padding: 16px 32px;
      border-radius: 24px;
    }

    .btn-form {
      padding: 14px 24px;
      border: 2px solid #fff;
      border-radius: 24px;
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: #fff;
        color: #f97316;
        transition: all 0.2s;
      }
    }
  }
}

@media (max-width: 768px) {
  .barre-contact {
    padding: 40px 20px;
    flex-direction: column;
    gap: 24px;

    .left {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    .right {
      flex-direction: column;
      width: 100%;

      a {
        text-align: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
