footer {
  display: flex;
  flex-direction: column;
  color: #fff9;
  background-color: #0d1117;
  padding: 64px 90px;

  .logo {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;
    font-size: 19px;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;

    &_7a {
      color: #f97316;
    }
  }

  .top {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: space-between;
    border-bottom: 1px solid #6b7280;
    padding-bottom: 50px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {
        max-width: 270px;
      }

      .social-links {
        display: flex;
        gap: 16px;
        align-items: center;

        a {
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ffffff29;
          border-radius: 16px;
        }
      }
    }

    .right {
      display: flex;
      justify-content: space-between;

      .list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h3 {
          color: #fff;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 12px;

          li {
            display: flex;
            gap: 5px;
            align-items: center;
            list-style: none;

            a {
              text-decoration: none;
              color: #fff9;

              &:hover {
                color: var(--maincolor);
              }
            }
          }
        }
      }
    }

    .status {
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 6px 12px;
      border-radius: 16px;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      &.open {
        background-color: #34d39926;
        color: #34d399;
        .dot {
          background-color: #10b981;
        }
      }

      &.close {
        background-color: #fee2e2;
        color: #991b1b;
        .dot {
          background-color: #ef4444;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .certifications {
      display: flex;
      gap: 20px;

      a {
        color: #fff9;

        &:hover {
          color: var(--maincolor);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    padding: 50px;

    .top {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 25px;
    }

    .bottom {
      margin-top: 25px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 40px 20px;

    .top {
      display: flex;
      flex-direction: column;
      padding-bottom: 35px;

      h3 {
        margin-top: 25px;
      }

      .right {
        flex-direction: column;
      }
    }

    .bottom {
      flex-direction: column;
      gap: 15px;
      margin-top: 35px;
    }
  }
}
